.wrapper{
    height: 50px;
    width: 50px;
    background: linear-gradient(to bottom left, rgb(1, 238, 255), rgb(255, 0, 255));
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.countVal{
    margin: 0px;
    color: white;
}
.countNam{
    margin: 0px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.388);
}